click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.15.3
git+git://github.com/lisfer/seawar_skeleton.git#egg=seawar_core
git+git://github.com/lisfer/FlaskAutoDocs.git#egg=FlaskAutoDocs